html {
 background-color: black;
}
body {
   font-size: 1rem;
   margin: 0;
}
footer {
    display: flex;
    justify-content: end;
}
p {
    margin: 0;
}
ol {
    margin: 0;
}
ul {
    margin: 0;
}
h3 {
    margin: 5px;
}
figure {
    width: 20px;
    height: 20px;
    margin: 5px;
}
.article-intro {
    text-align: center;
    margin: 0;
}
.content-wrapper {
    width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px 15px;
    background-image: url("https://cdn.wallpapersafari.com/88/54/VsRXHO.jpg");
}
a.link1:hover {
    text-decoration: underline dotted red;
}
a.link2:hover {
    text-decoration: green wavy underline;
}
a.link3:hover {
    text-decoration: underline orange;
}
.footer-image {
    width: 20px;
    height: 20px;
}




