---
import BaseHead from '@src/components/BaseHead.astro';
import Header from '@src/components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/consts';
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
    </style>
  </head>

  <body>
    <Header title={SITE_TITLE} />

    <main>
      <div class="title">
        <h1>FE hunger games</h1>

        <hr />
      </div>

      <h2>What we will be doing?</h2>

      <p>
        A coding game for closed community focused on core front-end languages and native APIs, where the participants get a challenge every month to build a simple UI block by specified requirements. For example, basic form which uses native browser validation, timeline, unique menu, rating system and so on.
      </p>

      <ul>
        <li>All participants are building the same thing, compare and discuss the differences in their code and then vote, anonymously, which one is the best.</li>

        <li>There will be a simple open-source app in GitHub where the game will live.</li>

        <li>There will be 1 UI challenge for every month, for which the participants will submit their code</li>

        <li>There are a set of requirements for each challenge which describe the UI block which have to be built. These requirements could be in text form, design, image, something else or all together depending on the challenge.</li>

        <li>There will be 1 special requirement for every challenge, which will be different every time - E.g. make it pixel perfect, use this specific new JS API, make it as creative as possible, make it accessible…</li>
      </ul>

      <h2>How we are going to do it?</h2>

      <ul>
        <li>We will define general principles about what we think is good code - E.g. valid and semantic HTML, Meaningful class names, supported browsers, …</li>

        <li>The organizer is responsible for organizing the process and defining the challenges, with some ideas from the participants.</li>

        <li>All participants have time to complete the challenge and submit their code before the meeting</li>

        <li>A meeting is organized every month to quickly discuss the topic of the challenge, review submitted code, vote and then present the challenge for the next month.</li>

        <li>The participant could contribute to the open-source project by submitting their code (HTML file with the UI block) for each challenge. A contribution process will be confirmed with the participants and a guide will be provided by the organizer.</li>
      </ul>
    </main>
  </body>
</html>
